body {
    font-size: 13px;
    font-family: verdana;
}

.traceHolder {
    background-color: gray;
    width: 100%;
    padding: 5px;
}

.trace {
    background-color: hsla(0, 0%, 80%, 1);
    border: 1px solid hsla(0, 0%, 30%, 0.3);
    padding: 2px;
    position: relative;
    margin-bottom: 3px;
}
.eventname {
    cursor: pointer;
    left: 14px;
}
.trace .eventname:hover {
    margin-top: 2px;
    margin-bottom: 2px;
}
.eventname:before {
    margin-left: 5px;
    margin-right: 2px;
}

.trace .eventname:before {
    content: "▷";
}
.trace.pinned .eventname:before {
    content: "▶";
}
.trace .eventname:hover:before {
    content: "▽";
}
.trace.pinned .eventname:hover:before {
    content: "▼";
}

.belowthreshold {
    float: right;
}
.belowthreshold label, .belowthreshold input {
    cursor: pointer;
}

.fnccall {
    background-color: hsla(0, 0%, 80%, 1);
    border: 1px solid hsla(0, 0%, 30%, 0.3);
    padding: 2px;
    position: relative;
}
        
.fnccall.visible + .hiddenfnccall {
    display: none;
}

.fnccall:not(.visible) + .hiddenfnccall + .fnccall:not(.visible) + .hiddenfnccall {
    display: none;
}

.hiddenfnccall {
    width: 100%;
    height: 1px;
    border: 0px dashed black;
    border-top-width: 1px;
    margin: 0px;
}
.hiddenfnccall:nth-child(4n) {
    width: calc(100% - 4px);
    margin-left:2px;
}


.votebuttons {
    position: absolute;
    right: 1px;
    top: 0px;
}

.vote {
    opacity: 1;
    border: 1px solid black;
    opacity: 1;
    padding: 1px;
    position: relative;

    width: 12px;
    height: 12px;
    margin-top:1px;
    display: inline-block;

    border: 1px solid black;
}

.vote.down {
    background-color: hsla(-2, 60%, 85%, 1);
}

.vote.up {
    background-color: hsla(90, 60%, 85%, 1);
}

.vote:last-of-type {
    margin-right: 2px;
}

.vote.down:after {
    content: "✖";
    font-size:15px;
    line-height:12px;
}
.vote.up:after {
    content: "✓";
    font-size:15px;
    line-height:12px;
    margin-left:1px;
}


.vote.down:hover, .vote.down.hover {
    background-color: hsla(-2, 70%, 70%, 1);
}
.vote.down.checked:hover, .vote.down.checked.hover {
    background-color: hsla(-2, 80%, 60%, 1);
}
.vote.down:active, .vote.down.active {
    background-color: hsla(-2, 80%, 50%, 1);
}
.vote.down.checked {
    background-color: hsla(-2, 75%, 55%, 1);
}
.vote.down.nottoggled {
    background-color: hsla(-2, 50%, 95%, 1);
}


.vote.up:hover, .vote.up.hover {
    background-color: hsla(90, 70%, 70%, 1);
}
.vote.up.checked:hover, .vote.up.checked.hover {
    background-color: hsla(95, 80%, 60%, 1);
}
.vote.up:active, .vote.up.active {
    background-color: hsla(90, 80%, 50%, 1);
}
.vote.up.checked {
    background-color: hsla(85, 100%, 50%, 1);
}
.vote.up.nottoggled {
    background-color: hsla(90, 50%, 95%, 1);
}